a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #24353f;
}

.home-card {
  width: 65%;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.7);
}

.navbar {
  background-color: #24353f;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: gold;
  transform: scale(1.05);
}

.welcome {
  color: #14a2b8;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}